@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 100;
  src: url("../assets/font/Vazirmatn-Thin.woff2") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/font/Vazirmatn-ExtraLight") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/font/Vazirmatn-Light") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/font/Vazirmatn-Regular") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/font/Vazirmatn-Medium") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  src: url("../assets/font/Vazirmatn-SemiBold") format("truetype");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/font/Vazirmatn-Bold") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 800;
  src: url("../assets/font/Vazirmatn-ExtraBold") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 900;
  src: url("../assets/font/Vazirmatn-Black") format("truetype");
}
