@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 100;
  src: url("../assets/font/Vazirmatn-Thin.woff2") format("woff2");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/font/Vazirmatn-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/font/Vazirmatn-Light.woff2") format("woff2");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/font/Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/font/Vazirmatn-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  src: url("../assets/font/Vazirmatn-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/font/Vazirmatn-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 800;
  src: url("../assets/font/Vazirmatn-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 900;
  src: url("../assets/font/Vazirmatn-Black.woff2") format("woff2");
}
